<%# New Post Create Page View %>
<div class = "container p-3">

  <span class = "page_title">
    <i class="fa-solid fa-plus"></i> New Post
  </span>

  <div class = "row">
    <%= render partial: "temp/sidebar", locals: {post_obj: $sorted_post, comment_obj: $new_arrivals_comments} %>

    <div class = "col-md-9">
      <h1>Create New Post</h1>

      <%= form_with model: @new_post, local: true do |new_p| %>

        <%# タイトル登録エリア %>
        <div class = "row">
          <div class = "col-md-3">
            <h5><%= new_p.label :title, "投稿タイトル：", class: "col-form-label" %></h5>
          </div>
          <div class = "col-md-12">
            <%= new_p.text_field :title, class: "form-control", placeholder: "title", style: "width: 100%;" %>
          </div>
        </div>

        <%# 投稿ボディ追加エリア %>
        <div class = "row" style = "margin-top: 15px;">
          <div class = "col-md-3">
            <h5><label class = "col-form-label">投稿内容：</label></h5>
          </div>
        </div>

        <div class = "row" id = "add_target_row">
          <div class = "col-md-12">
            <%= new_p.fields_for :post_bodies, @new_post.post_bodies.build do |new_p_body| %>
              <table class = "table table-borderless" style = "width: 100%;">
                <tbody>
                  <tr>
                    <td style = "width: 80%;"><%= new_p_body.text_area :text, placeholder: "text", style: "width: 100%;" %></td>
                    <td class = "align-middle" style = "width: 20%;"><input class = "btn btn-danger" type = "button" value = "Delete" onclick = "RemoveRow(this)"></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class = "col-md-12">
            <%= new_p.fields_for :post_bodies, @new_post.post_bodies.build do |new_p_body| %>
              <table class = "table table-borderless" style = "width: 100%;">
                <tbody>
                  <tr>
                    <td class = "align-middle" style = "width: 40%;"><%= new_p_body.text_field :image_title, placeholder: "image title", style: "width: 100%;" %></td>
                    <td class = "align-middle" style = "width: 40%;"><%= new_p_body.file_field :image_body, accept: "image/*", placeholder: "image" %></td>
                    <td class = "align-middle" style = "width: 20%;"><input class = "btn btn-danger" type = "button" value = "Delete" onclick = "RemoveRow(this)"></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>

        <%# 投稿ボディ追加ボタン %>
        <div class = "row">
          <div class = "col-md-4">
            <input class = "btn btn-primary" style = "width: 100%;" type = "button" value = "Add Text Row" onclick = "AddRow('add_text')">
          </div>
          <div class = "col-md-4">
            <input class = "btn btn-primary" style = "width: 100%;" type = "button" value = "Add Image Row" onclick = "AddRow('add_image')">
          </div>
        </div>

        <%# 投稿ボタン %>
        <div class = "row">
          <div class = "col-md-3">
            <%= new_p.submit "Create New Post", class: "btn btn-success", style: "margin-top: 15px;" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
