<%# Show Post Page View %>
<div class = "container p-3">

  <span class = "page_title">
    <i class="fa-solid fa-eye"></i> Show Post
  </span>

  <div class = "row">
    <%= render partial: "temp/sidebar", locals: {post_obj: $sorted_post, comment_obj: $new_arrivals_comments} %>

    <div class = "col-md-9">
      <h1><%= @target_post.title %></h1>
      <h5 style = "text-align: right;">
        <%= l @target_post.updated_at, format: :long %>&nbsp;&nbsp;

        <% if @target_post.user.id == current_user.id %>
          <%= link_to mypage_path do %>
            <%= @target_post.user.user_name %>
          <% end %>
        <% else%>
          <%= link_to user_path(@target_post.user) do %>
            <%= @target_post.user.user_name %>
          <% end %>
        <% end %>
      </h5>

      <% if @target_post.user_id == current_user.id %>
        <div class = "row">
          <div class = "col-md-12" style = "text-align: right;">
            <%= link_to edit_post_path(@target_post) do %>
              Edit a Post >>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class = "row">
        <% @target_post_body.each do |target_p_body| %>

          <%# text %>
          <% if target_p_body.text %>
            <div class = "col-md-12" style = "margin: 15px 0;">
              <p><%= simple_format(target_p_body.text) %></p>
            </div>
          <% end %>

          <%# image_title %>
          <% if target_p_body.image_title %>
            <div class = "col-md-12" style = "margin: 0 15px;">
              <h5><%= target_p_body.image_title %></h5>
            </div>
          <% end %>

          <%# image_body %>
          <% if target_p_body.image_body.blob %>
            <div class = "col-md-12" style = "margin: 0 15px;">
              <%= link_to rails_blob_path(target_p_body.image_body), target: '_blank' do %>
                <%= image_tag target_p_body.image_body.variant(resize: '660x438', gravity: 'Center', extent: '660x438') %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
