<%# Show Post Page View %>
<div class = "container p-3">

  <span class = "page_title">
    <i class="fa-solid fa-eye"></i> Show Post
  </span>

  <div class = "row">
    <%= render partial: "temp/sidebar", locals: {post_obj: $sorted_post, comment_obj: $new_arrivals_comments} %>

    <div class = "col-md-9">
      <h1><%= @target_post.title %></h1>
      <h5 style = "text-align: right;">
        <%= l @target_post.updated_at, format: :long %>&nbsp;&nbsp;

        <% if @target_post.user.id == current_user.id %>
          <%= link_to mypage_path do %>
            <%= @target_post.user.user_name %>
          <% end %>
        <% else %>
          <%= link_to user_path(@target_post.user) do %>
            <%= @target_post.user.user_name %>
          <% end %>
        <% end %>
      </h5>

      <% if @target_post.user_id == current_user.id %>
        <div class = "row">
          <div class = "col-md-12" style = "text-align: right;">
            <%= link_to edit_post_path(@target_post) do %>
              Edit a Post >>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class = "row">
        <% @target_post_body.each do |target_p_body| %>

          <%# text %>
          <% if target_p_body.text %>
            <div class = "col-md-12" style = "margin: 15px 0;">
              <p><%= simple_format(target_p_body.text) %></p>
            </div>
          <% end %>

          <%# image_title %>
          <% if target_p_body.image_title %>
            <div class = "col-md-12" style = "margin: 0 15px;">
              <h5><%= target_p_body.image_title %></h5>
            </div>
          <% end %>

          <%# image_body %>
          <% if target_p_body.image_body.blob %>
            <div class = "col-md-12" style = "margin: 0 15px;">
              <%= link_to rails_blob_path(target_p_body.image_body), target: '_blank' do %>
                <%= image_tag target_p_body.image_body.variant(resize: '660x438', gravity: 'Center', extent: '660x438') %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <hr width = "100%">

      <%# 新規コメントエリア %>
      <% if @target_post.user_id != current_user.id %>
        <div class = "row">
          <div class = "col-md-12">
            <%= form_with model: [@target_post, @new_comment] do |new_comment| %>
              <div class = "row" style = "margin-top: 15px; margin-bottom: 15px;">
                <div class = "col-md-12">
                  <%= new_comment.text_area :comment, style: "width: 70%;", placeholder: "new comment is here." %>
                </div>
                <div class = "col-md-4">
                  <%= new_comment.submit "Post Comment", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <hr width = "100%">

      <% end %>

      <%# コメント表示エリア %>
      <div class = "row">
        <div class = "col-md-12">
          <h2>All Comments</h2>

          <div class = "row">
            <div class = "col-md-12">
              <% @post_comments.each do |comment| %>
                <ul>
                  <li><h5><%= comment.user.user_name %></h5></li>
                  <h6 style = "
                        width: 70%;
                        padding: 10px;
                        margin-bottom: 10px;
                        border: 1px solid black;
                      "
                  >
                    <%= simple_format(comment.comment) %>
                  </h6>

                  <% if comment.user_id == current_user.id %>
                    <%= link_to "Delete a Comment", post_comment_path(comment.post_id, comment), class: "btn btn-danger", method: :delete %>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
