<%# Admin All Users Page View %>
<div class = "container p-3">

  <span class = "page_title">
    <i class="fa-solid fa-user"></i> All Users
  </span>

  <div class = "row">
    <div class = "col-md-12">
      <table class = "table">
        <thead>
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Posts</th>
            <th>Comments</th>
            <th colspan = "2">Registration Date</th>
          </tr>
        </thead>

        <tbody>
          <% @all_users.each do |user| %>
            <% if user.user_name != "guest_user" %>
              <tr>
                <td style = "vertical-align:middle;"><%= user.id %></td>
                <td style = "vertical-align:middle;"><%= user.user_name %></td>
                <td style = "vertical-align:middle;"><%= user.posts.count %></td>
                <td style = "vertical-align:middle;"><%= user.comments.count %></td>
                <td style = "vertical-align:middle;"><%= l user.created_at, format: :long %></td>
                <td style = "vertical-align:middle;">
                  <a
                    class         = "btn btn-danger"
                    data-confirm  = "ユーザー：「<%= user.user_name %>」を削除します。よろしいですか？"
                    href          = "<%= admin_user_path(user) %>"
                    data-method   = "delete"
                  >
                    Delete a User
                  </a>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class = "col-md-12">
      <%= paginate @all_users %>
    </div>
  </div>

</div>
